<div class="mobile-controls">
  <div class="control-bar mobile">
    
    <!-- back -->
    <span
      class="icon"
      id="back"
      (click)="goBack($event)"
      data-tooltip="back">
      B
    </span>

    <!-- center -->
    <span
      class="icon center-icon"
      id="center"
      (click)="center()"
      data-tooltip="center">
      (
    </span>

    <!-- fullscreen -->
    <span
      class="icon"
      id="fullscreen"
      (click)="fullscreen()"
      data-tooltip="fullscreen">
      '
    </span>

  </div>
</div>
