<div class="mobile-controls">
  <div class="control-bar mobile">
    
    <!-- back -->
    <span
      class="icon"
      id="back"
      (click)="goBack($event)"
      data-tooltip="back">
      B
    </span>

    <!-- home -->
    <span
      class="icon home-icon"
      id="center"
      (click)="home()"
      data-tooltip="home">
      d
    </span>

    <!-- center -->
    <span
      class="icon center-icon"
      id="center"
      (click)="center()"
      data-tooltip="center">
      (
    </span>


    <!-- list -->
    <span 
      class="icon list-icon"
      id="list"
      (click)="list()"
      data-tooltip="list">
      ,
    </span>

    <!-- fullscreen -->
    <span
      class="icon"
      id="fullscreen"
      (click)="fullscreen()"
      data-tooltip="fullscreen">
      '
    </span>

  </div>
</div>
