/* src/app/common/footer-controls/mobile-view/mobile-view.component.scss */
@use '../../styles/shared.scss' as shared;

:host {
  display: block;
  width: 100%;
}

.mobile-controls {
  width: 100%;
  height: 100%;
  pointer-events: all;

  .control-bar.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
  }

  .icon {
    font-family: shared.$hypercomb-icons;
    font-size: 1.6rem;
    color: #bbb;
    padding: .5rem .7rem;
    cursor: pointer;
    pointer-events: auto;
    margin: 0;
    transition: color .2s ease, text-shadow .2s ease;

    &:hover {
      color: whitesmoke;
      text-shadow: 2px 2px 5px rgba(118, 118, 118, 0.6);
    }

    &.active {
      color: #ffb300;
    }
  }

//   .icon.mobile-center {
//     border-radius: 999px;
//     border: 1px solid rgba(255, 255, 255, 0.4);
//     padding: .55rem .9rem;
//   }
}
