@use '../../../common/styles/shared.scss' as shared;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.mobile-controls {
  width: 100%;
  height: 100%;
  pointer-events: all;

  .control-bar.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
  }

  .icon {
    font-family: shared.$hypercomb-icons;
    font-size: 1.6rem;
    color: #bbb;
    padding: .5rem .7rem;
    cursor: pointer;
    pointer-events: auto;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: color .2s ease, text-shadow .2s ease;

    &:hover {
      color: whitesmoke;
      text-shadow: 2px 2px 5px rgba(118,118,118,0.6);
    }

    &.active {
      color: #ffb300;
    }
  }

  /* center icon with NO circle */
  .center-icon {
    border: none;
    border-radius: 0;
    padding: .5rem .7rem; /* match default */
  }
}
