# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/
.vscode/
dist/
# Node modules and dependency files
/node_modules/
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/hypercomb-web/public/dev/drones/781a17f7519701a0943270f040309ba12e40725fa308f1857fae40a84cea3d7e
src/hypercomb-web/public/dev/drones/5344a731d90df47c2e1cb4bfc7d52a88f0301271c165c48fbc4cf1e811983def
src/hypercomb-web/public/dev/drones/9278b9839b0802aeec4e457fcd4ad559ac543ed056cf0d08884798804daeb7ca
src/hypercomb-web/public/dev/drones/be9cc3b9e6fe68ae488bcb9853953144cebdbd062cae1b980f5429a7e321f6bc
src/hypercomb-web/public/dev/drones/dependencies.runtime-map.json
src/hypercomb-web/public/dev/drones/drones.runtime-map.json
src/hypercomb-web/public/dev/drones/e3f89f8665e43dfc401115764c6f1c60c869ddd2c6cd81de9adc40a489efce5c
src/hypercomb-web/public/dev/essentials/8dcc383cb4b76935a86c8f75c01577ad3b90b1f489262c405370d8662a6f935b
src/hypercomb-web/public/dev/essentials/dependencies.runtime-map.json
src/hypercomb-web/public/dev/drones/89b9189b7f271299ab27e5fcda5b0ccae5bc712fb1259ba68a0fa27bc6742db7
src/hypercomb-web/public/dev/drones/248d04c852547d417955aecc162c91ef37f5fb83957c54958ad335bdc8f2b42c
src/hypercomb-web/public/dev/drones/f72571fcea872b49c3b825f7c1b530e1eaa3ecea0d34bb818bbec7d6d9dcc362
src/hypercomb-web/public/dev/essentials/index.d.ts
src/hypercomb-web/public/dev/essentials/index.d.ts.map
src/hypercomb-web/public/dev/essentials/index.js
src/hypercomb-web/public/dev/essentials/core/settings.d.ts
src/hypercomb-web/public/dev/essentials/core/settings.d.ts.map
src/hypercomb-web/public/dev/essentials/core/settings.js
src/hypercomb-web/public/dev/essentials/core/axial/axial-coordinate.d.ts
src/hypercomb-web/public/dev/essentials/core/axial/axial-coordinate.d.ts.map
src/hypercomb-web/public/dev/essentials/core/axial/axial-coordinate.js
src/hypercomb-web/public/dev/essentials/core/axial/axial-service.d.ts
src/hypercomb-web/public/dev/essentials/core/axial/axial-service.d.ts.map
src/hypercomb-web/public/dev/essentials/core/axial/axial-service.js
src/hypercomb-web/public/dev/essentials/core/communication/mesh-adapter.drone.d.ts
src/hypercomb-web/public/dev/essentials/core/communication/mesh-adapter.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/core/communication/mesh-adapter.drone.js
src/hypercomb-web/public/dev/essentials/gestures/pinch-zoom.drone.d.ts
src/hypercomb-web/public/dev/essentials/gestures/pinch-zoom.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/gestures/pinch-zoom.drone.js
src/hypercomb-web/public/dev/essentials/gestures/touch-panning.drone.d.ts
src/hypercomb-web/public/dev/essentials/gestures/touch-panning.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/gestures/touch-panning.drone.js
src/hypercomb-web/public/dev/essentials/hello-world/hello-world.drone.d.ts
src/hypercomb-web/public/dev/essentials/hello-world/hello-world.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/hello-world/hello-world.drone.js
src/hypercomb-web/public/dev/essentials/hello-world/hello-world.entry.d.ts
src/hypercomb-web/public/dev/essentials/hello-world/hello-world.entry.d.ts.map
src/hypercomb-web/public/dev/essentials/hello-world/hello-world.entry.js
src/hypercomb-web/public/dev/essentials/hello-world/hw-service.d.ts
src/hypercomb-web/public/dev/essentials/hello-world/hw-service.d.ts.map
src/hypercomb-web/public/dev/essentials/hello-world/hw-service.js
src/hypercomb-web/public/dev/essentials/pixi/hex-label.atlas.d.ts
src/hypercomb-web/public/dev/essentials/pixi/hex-label.atlas.d.ts.map
src/hypercomb-web/public/dev/essentials/pixi/hex-label.atlas.js
src/hypercomb-web/public/dev/essentials/pixi/hex-sdf.shader.d.ts
src/hypercomb-web/public/dev/essentials/pixi/hex-sdf.shader.d.ts.map
src/hypercomb-web/public/dev/essentials/pixi/hex-sdf.shader.js
src/hypercomb-web/public/dev/essentials/pixi/pixi-host.drone.d.ts
src/hypercomb-web/public/dev/essentials/pixi/pixi-host.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/pixi/pixi-host.drone.js
src/hypercomb-web/public/dev/essentials/pixi/show-honeycomb.drone.d.ts
src/hypercomb-web/public/dev/essentials/pixi/show-honeycomb.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/pixi/show-honeycomb.drone.js
src/hypercomb-web/public/dev/essentials/screen/screen-service.d.ts
src/hypercomb-web/public/dev/essentials/screen/screen-service.d.ts.map
src/hypercomb-web/public/dev/essentials/screen/screen-service.js
src/hypercomb-web/public/dev/essentials/screen/screen-state.d.ts
src/hypercomb-web/public/dev/essentials/screen/screen-state.d.ts.map
src/hypercomb-web/public/dev/essentials/screen/screen-state.js
src/hypercomb-web/public/dev/essentials/screen/settings.d.ts
src/hypercomb-web/public/dev/essentials/screen/settings.d.ts.map
src/hypercomb-web/public/dev/essentials/screen/settings.js
src/hypercomb-web/public/dev/drones/2dde02a244f7064365c7b1cafd79d0cb3193ba87750aa878545604f9a2100a0b
src/hypercomb-web/public/dev/drones/4c4758b364ff43b4385fd070483ca807b746355ca68c755450453c745d532aa0
src/hypercomb-web/public/dev/drones/7f14a2da95928e93b8e86935ed74e1087ca2966fc0ce439b185cb98727f400e6
src/hypercomb-web/public/dev/drones/18a33e26296bdebf5ac2f4986d98502c3270398be9a62fada0935d8f05ce7b73
src/hypercomb-web/public/dev/drones/68cda4d091b980734ca61b6e73dbf2c780ff986bcf07fb71616dde2f519a5f74
src/hypercomb-web/public/dev/drones/e2f254fa08196f474bc64ff73248a4f2e6c1f5e2b52445e126bdd4c3ce161564
src/hypercomb-web/public/dev/drones/ea4e51b3be79c7c078af6a34b956ba322711d107520da4d97079a394387b8994
src/hypercomb-web/public/dev/essentials/hello-world.entry.d.ts
src/hypercomb-web/public/dev/essentials/hello-world.entry.d.ts.map
src/hypercomb-web/public/dev/essentials/hello-world.entry.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pinch-zoom.drone.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pinch-zoom.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pinch-zoom.drone.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/settings.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/settings.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/settings.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/axial/axial-coordinate.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/axial/axial-coordinate.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/axial/axial-coordinate.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/axial/axial-service.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/axial/axial-service.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/axial/axial-service.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/communication/mesh-adapter.drone.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/communication/mesh-adapter.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/core/communication/mesh-adapter.drone.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/gestures/touch-panning.drone.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/gestures/touch-panning.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/gestures/touch-panning.drone.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/hello-world/hello-world.drone.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/hello-world/hello-world.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/hello-world/hello-world.drone.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/hello-world/hw-service.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/hello-world/hw-service.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/hello-world/hw-service.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/hex-label.atlas.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/hex-label.atlas.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/hex-label.atlas.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/hex-sdf.shader.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/hex-sdf.shader.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/hex-sdf.shader.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/pixi-host.drone.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/pixi-host.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/pixi-host.drone.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/show-honeycomb.drone.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/show-honeycomb.drone.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/pixi/show-honeycomb.drone.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/screen-service.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/screen-service.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/screen-service.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/screen-state.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/screen-state.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/screen-state.js
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/settings.d.ts
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/settings.d.ts.map
src/hypercomb-web/public/dev/essentials/diamondcoreprocessor.com/screen/settings.js
