<!-- src/app/common/file-explorer/opfs-explorer.component.html -->

<div class="opfs-explorer">
  <h3 class="title">
    <mat-icon class="title-icon">folder</mat-icon>
    OPFS Explorer
  </h3>

  <div class="toolbar">
    <span class="path">{{ directory() }}</span>
  </div>


  <div class="table-container">
    <table mat-table [dataSource]="entries()" class="mat-elevation-z2 opfs-table">

      <!-- icon -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e" class="icon-cell">
          <mat-icon>
            {{ e.kind === 'directory' ? 'folder' : 'insert_drive_file' }}
          </mat-icon>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let e" class="name-cell">
          {{ e.name }}
        </td>
      </ng-container>

      <!-- delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e" class="delete-cell">
          <button mat-icon-button color="warn" (click)="delete(e, $event)" aria-label="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['icon', 'name', 'delete']"></tr>

      <tr mat-row *matRowDef="let row; columns: ['icon', 'name', 'delete']" class="data-row"></tr>

    </table>
  </div>
</div>