@use "../../styles/shared.scss" as shared;
@use '../../styles/shared-icon-styles.scss' as icons;

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    border-radius: 4px;
    color: white;
    font-family: shared.$hypercomb-icons;
}

.icon {
    cursor: pointer;
    padding: 5px;
    font-size: large;
    margin: 5px;
}
