<div
  controls-active
  [class.mobile]="state.isMobile"
  [class.mobile-landscape]="isLandscapeMobile"
  class="menu-container container"
  (click)="$event.stopImmediatePropagation()"
  (mouseenter)="state.controlsHovered = true"
  (mouseleave)="state.controlsHovered = false"
>
  @if (state.isMobile && !isLandscapeMobile) {
    <app-mobile-view></app-mobile-view>
  }

  @if (state.isMobile && isLandscapeMobile) {
    <app-mobile-view [landscape]="true"></app-mobile-view>
  }

  @if (!state.isMobile) {
    <app-default-view></app-default-view> 
  }
</div>
