/* src/app/common/footer-controls/controls.component.scss */
@use '../styles/shared.scss' as shared;
@use '../styles/center-column-centered.scss' as centered;
@use '../styles/shared-icon-styles.scss' as icons;

.menu-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.8rem;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  pointer-events: none;
  z-index: 5;
  display: flex;
  align-items: center;
}

.menu-container.mobile {
  background-color: transparent;
}

.container {
  display: flex;
  width: 100%;
}

.link-bar {
  position: fixed;
  top: 3.25rem;
  left: 0;
  color: #f5f5f5;
  font-family: 'Baloo 2';
  font-size: small;
  text-transform: lowercase;
  pointer-events: none;
  padding: 0.2rem 0.5rem;
  background: ghostwhite;
  color: #222;
  opacity: .8;
  border-radius: .2rem;
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin: 0;
}
