<!-- src/app/common/footer-controls/controls.component.html -->
<div
  controls-active
  [class.mobile]="state.isMobile"
  class="menu-container container"
  (click)="$event.stopImmediatePropagation()"
  (mouseenter)="state.controlsHovered = true"
  (mouseleave)="state.controlsHovered = false">

  @if (state.isMobile) {
    <app-mobile-view></app-mobile-view>
  } @else {
    <app-default-view></app-default-view>
  }

</div>

@if (link && !state.hasMode(ViewingGoogleDoc)) {
  <div class="link-bar">
    &nbsp; {{ link }}
  </div>
}
