@font-face {
  font-family: 'hypercomb-icons';
  src: url('/fonts/hypercomb-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(input):not(textarea):not([contenteditable="true"]) {
  caret-color: transparent;
}

input, textarea, [contenteditable="true"] {
  caret-color: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #050f17;
}
