/* src/app/common/footer-controls/default-view/default-view.component.scss */
@use '../../styles/shared.scss' as shared;

:host {
  display: flex;
  width: 100%;
}

/* three-column layout inside the toolbar */
.left {
  text-align: right;
  flex: 0 0 12em;
}

.center {
  flex: 1 1 auto;
}

.right {
  text-align: right;
  flex: 0 0 12em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-right: 1em;
  font-size: x-large;
  gap: 1em;
}

.control-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  padding: 0 1rem;
  pointer-events: all;
}

div.control-bar span.icon {
  font-family: shared.$hypercomb-icons;
  color: #bbb;
  padding: 0.4rem 0.64rem;
  font-size: x-large;
  pointer-events: auto;
  cursor: pointer;
  margin: 0;
  transition: color 0.2s ease, text-shadow 0.2s ease;

  &:hover {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(118, 118, 118, 0.6);
  }

  &.active {
    color: #ffb300;
  }
}

#reset {
  color: #68eff4;
}

div.control-bar span.icon {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;

  .badge {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #c70000;
    color: white;
    font-family: 'Baloo 2';
    font-size: .52em;
    border-radius: 0.3em;
    padding: 0 0.1em .2em .1em;
    pointer-events: none;
    width: 1.2em;
    height: 1.3em;
    text-align: center;
  }
}

.zoom-adjust {
  margin-top: .04em;
  transform: scale(.97);
}

.home,
.center-items {
  transform: scale(.97);
}

.center-items {
  transform: scale(1.1);
}

.lock {
  transform: scale(.9);
}

.locked {
  color: #d7d7d7 !important;
  text-shadow: 0 0 10px gold;
}

.slight-nudge {
  transform: scale(1.1);
  margin-top: .04em;
}

.trash-can {
  color: #ff4949 !important;
}

.fullscreen {
  transform: scale(.9);
}

.spacer {
  padding: 0;
  color: #555555 !important;
  background-color: transparent !important;
}

/* disabled state for icons */
.icon.disabled {
  color: #555 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.taskbar-options {
  color: white;
}

.count-icon {
  vertical-align: bottom;
  font-family: 'hypercomb-icons';
}

.server-buttons {
  display: flex;
}
