<div class="opfs-explorer">
  <!-- header -->
  <h3 class="title">
    <div class="title-left">
      <mat-icon class="title-icon">folder</mat-icon>
      OPFS Explorer
    </div>

    <button
      mat-icon-button
      class="gear"
      [color]="showAll() ? 'primary' : undefined"
      title="toggle raw view"
      (click)="showAll.set(!showAll())"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </h3>

  <!-- current path -->
  <div class="toolbar">
    <span class="path">{{ directory() }}</span>
  </div>

  <!-- add controls -->
  <div class="toolbar add-toolbar">
    <input
      type="text"
      placeholder="name"
      [(ngModel)]="newName"
      class="name-input"
    />

    <button mat-stroked-button type="button" (click)="createFolder()">
      add folder
    </button>

    <button mat-stroked-button type="button" (click)="createFile()">
      add file
    </button>
    <button mat-stroked-button type="button" (click)="addDependency()">
      add dependency
    </button>
  </div>

  <!-- table -->
  <div class="table-container">
    <table
      mat-table
      [dataSource]="entries()"
      class="mat-elevation-z2 opfs-table"
    >
      <!-- icon -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e">
          <mat-icon>
            {{ e.kind === "directory" ? "folder" : "insert_drive_file" }}
          </mat-icon>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let e">
          {{ e.label }}
        </td>
      </ng-container>

      <!-- run -->
      <ng-container matColumnDef="run">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e">
          <button mat-icon-button (click)="run(e, $event)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- copy -->
      <ng-container matColumnDef="copy">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e">
          <button mat-button (click)="copyDetails(e, $event)">copy</button>
        </td>
      </ng-container>

      <!-- delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e">
          <button mat-icon-button color="warn" (click)="delete(e, $event)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['icon', 'name', 'run', 'copy', 'delete']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['icon', 'name', 'run', 'copy', 'delete']"
        (click)="explore(row.name)"
      ></tr>
    </table>
  </div>
</div>
