<div class="hexagon-tile-editor">
  <div class="container">
    <div class="left-container">
      <div class="header">
        <mat-icon class="home-icon">home</mat-icon>
        <h1>{{ editorKind() }}</h1>
      </div>

      <div class="form-group">
        <label for="tileCaption">Name</label>
        <input
          id="tileCaption"
          class="input"
          type="text"
          [ngModel]="editCell!.name"
          (ngModelChange)="onCaptionChange($event)"
          app-space-continuation
          #name
          submit-on-enter
          (enterPressed)="save($event)"
          placeholder="Cell Name"
        />
      </div>

      <div class="form-group">
        <label class="share" for="connection">
          <div>Link</div>
          <div>(Hyperlink/Share Code)</div>
        </label>
        <input
          id="connection"
          submit-on-enter
          (enterPressed)="save($event)"
          class="input"
          type="text"
          [ngModel]="editCell!.link"
          (ngModelChange)="onLinkChange($event)"
          placeholder="Connection (Hyperlink/Share Code)"
        />
      </div>

      <div class="form-group">
        <div class="border-and-upload">
          <label class="border-color-label">Choose Border Color</label>
        </div>
        <div app-swatch-panel></div>
      </div>

      <div class="actions">
        <div class="branch button-row">
          @if (isComponentReady()) {
            <app-editor-actions></app-editor-actions>
          }
        </div>
        <div class="button-row">
          @if (operation() === 'edit-hive' || operation() === 'edit-cell') {
            <button
              matTooltip="delete button!"
              id="delete-button"
              style="width: 7em"
              (click)="delete(editCell!)"
              class="delete"
            >
              {{ deleteText }}
            </button>
          }
          <button (click)="cancel($event)" class="cancel">Cancel</button>
          <app-save-branch-button
            *ngIf="operation() === 'edit-cell' || operation() === 'edit-hive'"
            (save-clicked)="save($event)"
            (save-as-branch-clicked)="saveAsBranch($event)"
          ></app-save-branch-button>
          <button
            *ngIf="operation() === 'new-hive' || operation() === 'new-cell'"
            (click)="save($event)"
            class="save"
          >
            Save
          </button>
        </div>
        <span class="delete-warning">
          {{ deleteWarning }}
        </span>
      </div>
    </div>

    <div class="right-container">
      <div app-tile-image></div>
    </div>

  </div>
</div>
